finalRep/flow.json
[{"id":"3c69d2.2c30562e","type":"tab","label":"Flow de test","disabled":false,"info":""},{"id":"b85d4948.180ae8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6787998c.a4cde8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6fb5ed0.bf80814","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"test","name":""},{"id":"da3e8565.81b2b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b5440ae9.8e8ca8","type":"ui_group","z":"","name":"UI Verif","tab":"6d9ef85e.46fe78","disp":true,"width":"28","collapse":false},{"id":"d565093b.608758","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"91d47256.eb8e5","type":"reddit-credentials","z":"","username":"","user_agent":"RS","auth_type":"username_password","name":"RS"},{"id":"6d9ef85e.46fe78","type":"ui_tab","z":"","name":"switch ?","icon":"dashboard","disabled":false,"hidden":false},{"id":"a46a8556.4ab6e8","type":"split","z":"3c69d2.2c30562e","name":"split la liste de posts","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":940,"y":340,"wires":[["cbef4e33.06326"]]},{"id":"c3ce440f.54b9e8","type":"exec","z":"3c69d2.2c30562e","command":"./traitement.py \"","addpay":true,"append":"\"","useSpawn":"false","timer":"","oldrc":false,"name":"epurageTitre","x":610,"y":500,"wires":[["e849a29f.dd209"],[],[]]},{"id":"cbef4e33.06326","type":"function","z":"3c69d2.2c30562e","name":"buildRecord","func":"a=msg.payload\nmsg.record={title:a.data.title,preview:a.data.preview.images[0].resolutions,id:a.data.id,permalink:a.data.permalink}\nmsg.payload=msg.record.title\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":340,"wires":[["c3ce440f.54b9e8"]]},{"id":"e849a29f.dd209","type":"function","z":"3c69d2.2c30562e","name":"updateRecord","func":"msg.record.titreMod=msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":500,"wires":[["e98b149f.3f64c8"]]},{"id":"e98b149f.3f64c8","type":"exec","z":"3c69d2.2c30562e","command":"./heuristique.py \"","addpay":true,"append":"\"","useSpawn":"false","timer":"","oldrc":false,"name":"heuristique","x":970,"y":500,"wires":[["fe6f9fbc.931c8"],[],[]]},{"id":"fe6f9fbc.931c8","type":"function","z":"3c69d2.2c30562e","name":"updateRecord","func":"msg.record.resHeuristique=msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":500,"wires":[["64b944ee.ab4e6c"]]},{"id":"64b944ee.ab4e6c","type":"exec","z":"3c69d2.2c30562e","command":"./geoname.py 1 \"","addpay":true,"append":"\"","useSpawn":"false","timer":"","oldrc":false,"name":"geoname call","x":790,"y":620,"wires":[["3849a43.b71a75c"],[],[]]},{"id":"7b08140.cfffcec","type":"function","z":"3c69d2.2c30562e","name":"updateRecord","func":"msg.record.resGeo=msg.payload\nmsg.payload=msg.record\nmsg.topic=\"STORE\"\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":600,"wires":[["1318e708.16f9d9"]]},{"id":"3849a43.b71a75c","type":"json","z":"3c69d2.2c30562e","name":"","property":"payload","action":"","pretty":false,"x":970,"y":600,"wires":[["7b08140.cfffcec"]]},{"id":"b8ad0771.ea5008","type":"link in","z":"b85d4948.180ae8","name":"interface in","links":["1318e708.16f9d9"],"x":175,"y":300,"wires":[["c5e3d062.4dd5","53eb2cb1.6ffd04"]]},{"id":"1318e708.16f9d9","type":"link out","z":"3c69d2.2c30562e","name":"record out","links":["b8ad0771.ea5008"],"x":1315,"y":600,"wires":[]},{"id":"b5d0c7b8.6d7388","type":"http request","z":"3c69d2.2c30562e","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":220,"wires":[["e04e5955.307a18"]]},{"id":"25808654.f5712a","type":"function","z":"3c69d2.2c30562e","name":"URL à envoyer","func":"msg.url=\"https://www.reddit.com/r/earthporn/hot.json?limit=\"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":220,"wires":[["b5d0c7b8.6d7388"]]},{"id":"e04e5955.307a18","type":"function","z":"3c69d2.2c30562e","name":"Recup liste","func":"msg.payload=msg.payload.data.children\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":260,"wires":[["a46a8556.4ab6e8"]]},{"id":"168b6891.6e9317","type":"ui_button","z":"b85d4948.180ae8","name":"","group":"b5440ae9.8e8ca8","order":1,"width":"1","height":"1","passthru":false,"label":"NEXT","tooltip":"Passe au prochain post","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"NEXT","x":370,"y":360,"wires":[["51f4cf16.a4715"]]},{"id":"c92de0b0.6ed8c","type":"ui_button","z":"b85d4948.180ae8","name":"","group":"b5440ae9.8e8ca8","order":2,"width":"1","height":"1","passthru":true,"label":"CLEAR","tooltip":"Vide la pile de posts","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"CLEAR","x":380,"y":400,"wires":[["51f4cf16.a4715"]]},{"id":"51f4cf16.a4715","type":"function","z":"b85d4948.180ae8","name":"Store and send","func":"_current=context.get('current')\n_bool=context.get('bool')\n_data=context.get('data')\n\nif (_current===undefined) {\n    console.log(\"current is undefined\")\n    _current=null;\n    context.set('current',_current)}\n\nif (_bool===undefined) {_bool=false;context.set('bool',_bool)}\n\nif (_data===undefined) {_data=[];context.set('data',_data)}\n\n//console.log(_data,_current,_bool)\n\nif (msg.topic==\"CLEAR\") {\n    _data=[];\n    _current=null;\n    context.set('current',_current)\n    context.set('data',_data)\n    return [{},null]\n}\n\n\nif (msg.topic==\"BOOL\"){\n    _bool=msg.payload;\n    context.set('bool',_bool)\n}\n\nif (msg.topic==\"IMPROVE\"){\n    if (_current!==null && _current !==undefined){\n        if (!(_current.impList.includes(msg.payload))){\n            _current.impList.push(msg.payload)\n        }\n        else{\n            var index=_current.impList.indexOf(msg.payload)\n            _current.impList.splice(index,1)\n        }\n        console.log(\"je viens d'ajouter des improves. voici improve : \" + _current.impList + '\\n')\n        context.set('current',_current)\n    }\n}\n\nif (msg.topic==\"STORE\") {\n    _data.push(msg.payload)\n    if (_current===null) {\n        console.log('\\n yoyo \\n')\n        _current=_data.shift()\n        console.log(\" \\n j'aimerais afficher current \\n \")\n        msg.payload=_current\n        context.set('current',_current)\n        return[msg,null]\n    }\n}\n\nif (msg.topic==\"NEXT\"){\n    if (_current) {\n        _current.bool=_bool;\n        a=JSON.parse(JSON.stringify(_current))\n        record=a\n    }\n    else {record=null}\n    _current=_data.shift()\n    context.set('current',_current)\n    msg.payload=_current\n    return [msg,{payload:record}]\n}","outputs":2,"noerr":0,"x":700,"y":380,"wires":[["17a3aea5.3a9651"],[]]},{"id":"da85ef1a.8bf1b","type":"mongodb out","z":"b85d4948.180ae8","mongodb":"6fb5ed0.bf80814","name":"","collection":"redditPosts","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":1130,"y":420,"wires":[]},{"id":"d789848c.ce40b8","type":"comment","z":"b85d4948.180ae8","name":"","info":"> db.createUser({user:\"felix\",pwd:\"felix\",roles:[\"readWrite\"]})\n\npour creer user de db courante","x":1200,"y":460,"wires":[]},{"id":"c5e3d062.4dd5","type":"function","z":"b85d4948.180ae8","name":"URL encode","func":"var re=/(.*\\&)amp;(.*)/\nvar num=0\nfor (var i of msg.payload.preview){\n    var maStr=i.url\n    while (re.test(maStr)) {\n        res=re.exec(maStr)\n        maStr=res[1].concat(res[2])\n    }\n    msg.payload.preview[num].url=maStr\n    num++\n}\nmsg.topic=\"STORE\"\nmsg.payload.impList=[]\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":300,"wires":[["51f4cf16.a4715"]]},{"id":"62c7042d.bb4c4c","type":"ui_switch","z":"b85d4948.180ae8","name":"","label":"switch","tooltip":"Si la localisation match, passer le boutton au bleu","group":"b5440ae9.8e8ca8","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"BOOL","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":370,"y":440,"wires":[["51f4cf16.a4715"]]},{"id":"53eb2cb1.6ffd04","type":"function","z":"b85d4948.180ae8","name":"","func":"\nreturn {payload:false};","outputs":1,"noerr":0,"x":250,"y":440,"wires":[["62c7042d.bb4c4c"]]},{"id":"17a3aea5.3a9651","type":"ui_template","z":"b85d4948.180ae8","group":"b5440ae9.8e8ca8","name":"Template(html)","order":3,"width":"28","height":"24","format":"<style>div[id=\"titre\"] span:hover{background:rgb(255, 255, 128);}</style>\n<link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css\" type=\"text/css\">\n<script src=\"https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js\"></script>\n    <div id=\"titre\" title=\"Si rien n'a été trouvé, merci de cliquer sur les mots qui d'après vous donnent l'info\"></div>\n    <div id='mapContainer' style='display:flex;height:70%;width:100%'>\n        <img id=\"monImage\" title=\"L'image du post\" style='max-width:70%;max-height:80%'>\n        <div id=\"map\" style=\"width:400px;height:400px;flex-grow:0;flex-shrink:0;margin:10px\"></div>\n    </div>\n\n<script>\n    maReq=new XMLHttpRequest()\n    transferComplete=function(e){console.log(e)}\n    maReq.addEventListener(\"load\", transferComplete);\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            boiteImage=document.getElementById(\"monImage\");\n            if (data===undefined || data===null){\n                    document.getElementById(\"monImage\").removeAttribute(\"src\")\n                    document.getElementById(\"titre\").innerText=\"\"\n                    document.getElementById('map').innerHTML=''\n                }\n            else{\n                document.getElementById('map').innerHTML=''\n                if(data.resGeo.totalResultsCount!=0){\n                    star= new ol.style.Style({\n                        image: new ol.style.RegularShape({\n                            points: 5,\n                            radius: 7,\n                            radius2: 3,\n                            angle: 0,\n                            stroke: new ol.style.Stroke({ width: 1, color: [255,0,0,1]   }),\n                                fill: new ol.style.Fill({ color: [0,255,0,0.2] })\n                                    })});\n                var OSMlayer=new ol.layer.Tile({source:new ol.source.OSM()});\n                vectors_source=new ol.source.Vector();\n                vector_layer=new ol.layer.Vector({source:vectors_source});\n                    var map = new ol.Map({\n                        target: 'map',\n                        layers: [OSMlayer , vector_layer],\n                        view: new ol.View({\n                            center: ol.proj.fromLonLat([data.resGeo.geonames[0].lng,data.resGeo.geonames[0].lat]),\n                            zoom: 4\n                        })\n                    });\n                    marker = new ol.geom.Point(ol.proj.fromLonLat([data.resGeo.geonames[0].lng,data.resGeo.geonames[0].lat]))\n                    var feat=new ol.Feature({ geometry: marker })\n                    feat.setStyle(star)\n                    vectors_source.addFeature(feat)\n                }\n                boiteImage.src=data.preview[3].url\n                boiteTitre=document.getElementById(\"titre\");\n                boiteTitre.innerHTML=''\n                boiteTitre.innerText=\"titre epure : \"\n                console.log(data)\n                motsTitre=data.titreMod.split(/[ ,?;.:\\/!]+/);\n                console.log(motsTitre)\n                for (var i=0;i<motsTitre.length;i++){\n                    var newSpan=document.createElement(\"span\");\n                    newSpan.innerText=motsTitre[i]+\" \"\n                    newSpan.onclick=function(e){\n                        if (e.target.style.color=='red'){\n                            e.target.style.color='black'\n                        }\n                        else{\n                            e.target.style.color='red';\n                        }\n                        maReq.open(\"POST\",\"/toto\") ; \n                        maReq.send(e.target.innerText)\n                        }\n                    boiteTitre.appendChild(newSpan)\n                    console.log(motsTitre[i])\n                }\n                }\n            })\n        })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":900,"y":320,"wires":[[]]},{"id":"b6ba36a5.52e128","type":"inject","z":"3c69d2.2c30562e","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":220,"wires":[["25808654.f5712a"]]},{"id":"7ced708.403229","type":"inject","z":"3c69d2.2c30562e","name":"inject 3","topic":"","payload":"{\"kind\":\"Listing\",\"data\":{\"modhash\":\"7tmrrac6840fefc2e7b8d6e645bb6737e119dc2f26bf28b5d3\",\"dist\":3,\"children\":[{\"kind\":\"t3\",\"data\":{\"approved_at_utc\":null,\"subreddit\":\"EarthPorn\",\"selftext\":\"\",\"author_fullname\":\"t2_jqhb5\",\"saved\":false,\"mod_reason_title\":null,\"gilded\":0,\"clicked\":false,\"title\":\"I got lost completely in this crazy forest, Madeira, Portugal (1920x1278)[OC]\",\"link_flair_richtext\":[],\"subreddit_name_prefixed\":\"r/EarthPorn\",\"hidden\":false,\"pwls\":6,\"link_flair_css_class\":null,\"downs\":0,\"thumbnail_height\":93,\"hide_score\":false,\"name\":\"t3_fro5yz\",\"quarantine\":false,\"link_flair_text_color\":\"dark\",\"author_flair_background_color\":\"\",\"subreddit_type\":\"public\",\"ups\":13587,\"total_awards_received\":0,\"media_embed\":{},\"thumbnail_width\":140,\"author_flair_template_id\":null,\"is_original_content\":false,\"user_reports\":[],\"secure_media\":null,\"is_reddit_media_domain\":true,\"is_meta\":false,\"category\":null,\"secure_media_embed\":{},\"link_flair_text\":null,\"can_mod_post\":false,\"score\":13587,\"approved_by\":null,\"author_premium\":true,\"thumbnail\":\"https://b.thumbs.redditmedia.com/6GGZyr93VyXhTmXklGKduT7OLAqiOZxjrnB9BczweAo.jpg\",\"edited\":false,\"author_flair_css_class\":\"Gold\",\"author_flair_richtext\":[],\"gildings\":{},\"post_hint\":\"image\",\"content_categories\":null,\"is_self\":false,\"mod_note\":null,\"created\":1585592134,\"link_flair_type\":\"text\",\"wls\":6,\"removed_by_category\":null,\"banned_by\":null,\"author_flair_type\":\"text\",\"domain\":\"i.redd.it\",\"allow_live_comments\":true,\"selftext_html\":null,\"likes\":null,\"suggested_sort\":null,\"banned_at_utc\":null,\"view_count\":null,\"archived\":false,\"no_follow\":false,\"is_crosspostable\":true,\"pinned\":false,\"over_18\":false,\"preview\":{\"images\":[{\"source\":{\"url\":\"https://preview.redd.it/dt94tz18csp41.jpg?auto=webp&amp;s=dfcd31ce3b627b691b14b7df7a3359b24acc7d21\",\"width\":1920,\"height\":1278},\"resolutions\":[{\"url\":\"https://preview.redd.it/dt94tz18csp41.jpg?width=108&amp;crop=smart&amp;auto=webp&amp;s=d973bb851cee93b909056440f0c6d7f85d986bd7\",\"width\":108,\"height\":71},{\"url\":\"https://preview.redd.it/dt94tz18csp41.jpg?width=216&amp;crop=smart&amp;auto=webp&amp;s=6cc189dea6c7954f655ce1d35f13d6c95fbef7d7\",\"width\":216,\"height\":143},{\"url\":\"https://preview.redd.it/dt94tz18csp41.jpg?width=320&amp;crop=smart&amp;auto=webp&amp;s=08662734b9b0fc110b974c09f8dd7599eedf058c\",\"width\":320,\"height\":213},{\"url\":\"https://preview.redd.it/dt94tz18csp41.jpg?width=640&amp;crop=smart&amp;auto=webp&amp;s=4d21e3aeb8364d2330f1e8b1928a45ffef80fda5\",\"width\":640,\"height\":426},{\"url\":\"https://preview.redd.it/dt94tz18csp41.jpg?width=960&amp;crop=smart&amp;auto=webp&amp;s=8271d6205bc537c10caad731d292c03673a4b90e\",\"width\":960,\"height\":639},{\"url\":\"https://preview.redd.it/dt94tz18csp41.jpg?width=1080&amp;crop=smart&amp;auto=webp&amp;s=7ee97831c24b48d3af2e7e5381f38c65bccfb78f\",\"width\":1080,\"height\":718}],\"variants\":{},\"id\":\"QPYYGcMwfvilq_fhvhP1xHMd-sOS5Ud1joTjYMHknd8\"}],\"enabled\":true},\"all_awardings\":[],\"awarders\":[],\"media_only\":false,\"can_gild\":true,\"spoiler\":false,\"locked\":false,\"author_flair_text\":null,\"visited\":false,\"removed_by\":null,\"num_reports\":null,\"distinguished\":null,\"subreddit_id\":\"t5_2sbq3\",\"mod_reason_by\":null,\"removal_reason\":null,\"link_flair_background_color\":\"\",\"id\":\"fro5yz\",\"is_robot_indexable\":true,\"report_reasons\":null,\"author\":\"cryptodesign\",\"discussion_type\":null,\"num_comments\":141,\"send_replies\":true,\"whitelist_status\":\"all_ads\",\"contest_mode\":false,\"mod_reports\":[],\"author_patreon_flair\":false,\"author_flair_text_color\":\"dark\",\"permalink\":\"/r/EarthPorn/comments/fro5yz/i_got_lost_completely_in_this_crazy_forest/\",\"parent_whitelist_status\":\"all_ads\",\"stickied\":false,\"url\":\"https://i.redd.it/dt94tz18csp41.jpg\",\"subreddit_subscribers\":19523211,\"created_utc\":1585563334,\"num_crossposts\":7,\"media\":null,\"is_video\":false}},{\"kind\":\"t3\",\"data\":{\"approved_at_utc\":null,\"subreddit\":\"EarthPorn\",\"selftext\":\"\",\"author_fullname\":\"t2_5i4dsool\",\"saved\":false,\"mod_reason_title\":null,\"gilded\":0,\"clicked\":false,\"title\":\"King Protea, Cape Town. [OC][4160×1968]\",\"link_flair_richtext\":[],\"subreddit_name_prefixed\":\"r/EarthPorn\",\"hidden\":false,\"pwls\":6,\"link_flair_css_class\":null,\"downs\":0,\"thumbnail_height\":140,\"hide_score\":false,\"name\":\"t3_frirnx\",\"quarantine\":false,\"link_flair_text_color\":\"dark\",\"author_flair_background_color\":\"\",\"subreddit_type\":\"public\",\"ups\":2862,\"total_awards_received\":0,\"media_embed\":{},\"thumbnail_width\":140,\"author_flair_template_id\":null,\"is_original_content\":false,\"user_reports\":[],\"secure_media\":null,\"is_reddit_media_domain\":true,\"is_meta\":false,\"category\":null,\"secure_media_embed\":{},\"link_flair_text\":null,\"can_mod_post\":false,\"score\":2862,\"approved_by\":null,\"author_premium\":false,\"thumbnail\":\"https://b.thumbs.redditmedia.com/aYQLa9YMEvrdUaLknsiRavBrwgD0OiJyiTwdsB6qXIk.jpg\",\"edited\":false,\"author_flair_css_class\":\"Camera\",\"author_flair_richtext\":[],\"gildings\":{},\"post_hint\":\"image\",\"content_categories\":null,\"is_self\":false,\"mod_note\":null,\"created\":1585564975,\"link_flair_type\":\"text\",\"wls\":6,\"removed_by_category\":null,\"banned_by\":null,\"author_flair_type\":\"text\",\"domain\":\"i.redd.it\",\"allow_live_comments\":false,\"selftext_html\":null,\"likes\":null,\"suggested_sort\":null,\"banned_at_utc\":null,\"view_count\":null,\"archived\":false,\"no_follow\":false,\"is_crosspostable\":true,\"pinned\":false,\"over_18\":false,\"preview\":{\"images\":[{\"source\":{\"url\":\"https://preview.redd.it/4h2s9u0k3qp41.jpg?auto=webp&amp;s=cb62e91a10aafce589d65a046cb6b846c6c327f6\",\"width\":1968,\"height\":4160},\"resolutions\":[{\"url\":\"https://preview.redd.it/4h2s9u0k3qp41.jpg?width=108&amp;crop=smart&amp;auto=webp&amp;s=82176e7d9aa7a14fc1fd6336fd4688ddd9c47a45\",\"width\":108,\"height\":216},{\"url\":\"https://preview.redd.it/4h2s9u0k3qp41.jpg?width=216&amp;crop=smart&amp;auto=webp&amp;s=632f12428b894e0471d97e65f7a0feb0d062e9ae\",\"width\":216,\"height\":432},{\"url\":\"https://preview.redd.it/4h2s9u0k3qp41.jpg?width=320&amp;crop=smart&amp;auto=webp&amp;s=9c055e7564e8a3b4db72202a232c07b7bd3c8a70\",\"width\":320,\"height\":640},{\"url\":\"https://preview.redd.it/4h2s9u0k3qp41.jpg?width=640&amp;crop=smart&amp;auto=webp&amp;s=ba9310c954a4e457257e7c3dbc9ce67fa6219970\",\"width\":640,\"height\":1280},{\"url\":\"https://preview.redd.it/4h2s9u0k3qp41.jpg?width=960&amp;crop=smart&amp;auto=webp&amp;s=4b1e41de81d7531566a62ab9b7a07727e8b96431\",\"width\":960,\"height\":1920},{\"url\":\"https://preview.redd.it/4h2s9u0k3qp41.jpg?width=1080&amp;crop=smart&amp;auto=webp&amp;s=5081f5a56045afbcdc49479bf85ddc93bbe6de19\",\"width\":1080,\"height\":2160}],\"variants\":{},\"id\":\"ZmDk6IJanBJ8nOWvC8NG872VkRdtFWZLGU-JhRgjtGw\"}],\"enabled\":true},\"all_awardings\":[],\"awarders\":[],\"media_only\":false,\"can_gild\":true,\"spoiler\":false,\"locked\":false,\"author_flair_text\":\"\",\"visited\":false,\"removed_by\":null,\"num_reports\":null,\"distinguished\":null,\"subreddit_id\":\"t5_2sbq3\",\"mod_reason_by\":null,\"removal_reason\":null,\"link_flair_background_color\":\"\",\"id\":\"frirnx\",\"is_robot_indexable\":true,\"report_reasons\":null,\"author\":\"InMysticRunes\",\"discussion_type\":null,\"num_comments\":19,\"send_replies\":true,\"whitelist_status\":\"all_ads\",\"contest_mode\":false,\"mod_reports\":[],\"author_patreon_flair\":false,\"author_flair_text_color\":\"dark\",\"permalink\":\"/r/EarthPorn/comments/frirnx/king_protea_cape_town_oc41601968/\",\"parent_whitelist_status\":\"all_ads\",\"stickied\":false,\"url\":\"https://i.redd.it/4h2s9u0k3qp41.jpg\",\"subreddit_subscribers\":19523211,\"created_utc\":1585536175,\"num_crossposts\":2,\"media\":null,\"is_video\":false}},{\"kind\":\"t3\",\"data\":{\"approved_at_utc\":null,\"subreddit\":\"EarthPorn\",\"selftext\":\"\",\"author_fullname\":\"t2_fsq1z5d\",\"saved\":false,\"mod_reason_title\":null,\"gilded\":0,\"clicked\":false,\"title\":\"The coast of South West Vancouver Island, BC, Canada [1200x1500] [OC]\",\"link_flair_richtext\":[],\"subreddit_name_prefixed\":\"r/EarthPorn\",\"hidden\":false,\"pwls\":6,\"link_flair_css_class\":null,\"downs\":0,\"thumbnail_height\":140,\"hide_score\":false,\"name\":\"t3_frlzrb\",\"quarantine\":false,\"link_flair_text_color\":\"dark\",\"author_flair_background_color\":\"\",\"subreddit_type\":\"public\",\"ups\":896,\"total_awards_received\":0,\"media_embed\":{},\"thumbnail_width\":140,\"author_flair_template_id\":null,\"is_original_content\":false,\"user_reports\":[],\"secure_media\":null,\"is_reddit_media_domain\":true,\"is_meta\":false,\"category\":null,\"secure_media_embed\":{},\"link_flair_text\":null,\"can_mod_post\":false,\"score\":896,\"approved_by\":null,\"author_premium\":false,\"thumbnail\":\"https://b.thumbs.redditmedia.com/Bpwr4nPUMv3t7R0os6U3ZkHKimVdNhgJMmHwABfj37E.jpg\",\"edited\":false,\"author_flair_css_class\":\"Camera\",\"author_flair_richtext\":[],\"gildings\":{},\"post_hint\":\"image\",\"content_categories\":null,\"is_self\":false,\"mod_note\":null,\"created\":1585580126,\"link_flair_type\":\"text\",\"wls\":6,\"removed_by_category\":null,\"banned_by\":null,\"author_flair_type\":\"text\",\"domain\":\"i.redd.it\",\"allow_live_comments\":false,\"selftext_html\":null,\"likes\":null,\"suggested_sort\":null,\"banned_at_utc\":null,\"view_count\":null,\"archived\":false,\"no_follow\":false,\"is_crosspostable\":true,\"pinned\":false,\"over_18\":false,\"preview\":{\"images\":[{\"source\":{\"url\":\"https://preview.redd.it/plhw9whmcrp41.jpg?auto=webp&amp;s=100fb3b1345a52997aa4232d7335d1672472a395\",\"width\":2394,\"height\":2992},\"resolutions\":[{\"url\":\"https://preview.redd.it/plhw9whmcrp41.jpg?width=108&amp;crop=smart&amp;auto=webp&amp;s=0c78fb60208eef8fac38242e5f6c7188d5424ba6\",\"width\":108,\"height\":134},{\"url\":\"https://preview.redd.it/plhw9whmcrp41.jpg?width=216&amp;crop=smart&amp;auto=webp&amp;s=d0c274d5ff16afecbd38a63e280fb6a4aff968f4\",\"width\":216,\"height\":269},{\"url\":\"https://preview.redd.it/plhw9whmcrp41.jpg?width=320&amp;crop=smart&amp;auto=webp&amp;s=6d4f88efd0deb9f721f29087833bb63b60a1915d\",\"width\":320,\"height\":399},{\"url\":\"https://preview.redd.it/plhw9whmcrp41.jpg?width=640&amp;crop=smart&amp;auto=webp&amp;s=fda5ad0a8a59e6f7e626c2b51e0a328ffc20f954\",\"width\":640,\"height\":799},{\"url\":\"https://preview.redd.it/plhw9whmcrp41.jpg?width=960&amp;crop=smart&amp;auto=webp&amp;s=f7e3c6036fe7c3bffcdb5bd6fcb0ef5aad05d8e3\",\"width\":960,\"height\":1199},{\"url\":\"https://preview.redd.it/plhw9whmcrp41.jpg?width=1080&amp;crop=smart&amp;auto=webp&amp;s=6b973c94b7f6c38b8d15fcc32a26c23996779fe9\",\"width\":1080,\"height\":1349}],\"variants\":{},\"id\":\"TESFeDWRgBmIzNgfCOc4EKv-PCwtz_XSTXMLl_fXYy4\"}],\"enabled\":true},\"all_awardings\":[],\"awarders\":[],\"media_only\":false,\"can_gild\":true,\"spoiler\":false,\"locked\":false,\"author_flair_text\":\"\",\"visited\":false,\"removed_by\":null,\"num_reports\":null,\"distinguished\":null,\"subreddit_id\":\"t5_2sbq3\",\"mod_reason_by\":null,\"removal_reason\":null,\"link_flair_background_color\":\"\",\"id\":\"frlzrb\",\"is_robot_indexable\":true,\"report_reasons\":null,\"author\":\"laurentkatzer\",\"discussion_type\":null,\"num_comments\":28,\"send_replies\":true,\"whitelist_status\":\"all_ads\",\"contest_mode\":false,\"mod_reports\":[],\"author_patreon_flair\":false,\"author_flair_text_color\":\"dark\",\"permalink\":\"/r/EarthPorn/comments/frlzrb/the_coast_of_south_west_vancouver_island_bc/\",\"parent_whitelist_status\":\"all_ads\",\"stickied\":false,\"url\":\"https://i.redd.it/plhw9whmcrp41.jpg\",\"subreddit_subscribers\":19523211,\"created_utc\":1585551326,\"num_crossposts\":1,\"media\":null,\"is_video\":false}}],\"after\":\"t3_frlzrb\",\"before\":null}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":260,"wires":[["e04e5955.307a18"]]},{"id":"61bdabe3.9cc7e4","type":"file in","z":"3c69d2.2c30562e","name":"","filename":"./res50reddit","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":490,"y":180,"wires":[["a5048236.a32cf"]]},{"id":"a5048236.a32cf","type":"function","z":"3c69d2.2c30562e","name":"Prendre n posts randoms parmis 50","func":"a=JSON.parse(msg.payload)\na=a.data.children\nres=Array(msg.number)\nrange=Array(msg.number).fill(1).map((x, y) => x + y - 1)\nfor (let i of range){\n    rand=Math.floor(Math.random()*50)\n    while (res.includes(rand)) {\n        rand=Math.floor(Math.random()*50);\n    }\n    res[i]=rand\n}\nfor (let i of range){\n    res[i]=a[res[i]]\n}\nmsg.payload=res\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":180,"wires":[["a46a8556.4ab6e8"]]},{"id":"3442c6bd.de36fa","type":"function","z":"3c69d2.2c30562e","name":"","func":"msg.number=msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["61bdabe3.9cc7e4"]]},{"id":"6576e47c.89351c","type":"inject","z":"3c69d2.2c30562e","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":180,"wires":[["3442c6bd.de36fa"]]},{"id":"dda8c8c9.26de08","type":"http response","z":"b85d4948.180ae8","name":"http response","statusCode":"","headers":{},"x":500,"y":180,"wires":[]},{"id":"b9b0efd.62bfe1","type":"http in","z":"b85d4948.180ae8","name":"XMLHTTPrequest","url":"/toto","method":"post","upload":false,"swaggerDoc":"","x":250,"y":240,"wires":[["dda8c8c9.26de08","7336a470.3defec"]]},{"id":"7336a470.3defec","type":"function","z":"b85d4948.180ae8","name":"IMPROVE","func":"msg.topic=\"IMPROVE\"\nvar spaceless=msg.payload.replace(/\\s/g,'')\nconsole.log(spaceless)\nmsg.payload=spaceless\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["51f4cf16.a4715"]]},{"id":"7a10d276.74db9c","type":"comment","z":"b85d4948.180ae8","name":"","info":"XMLHTTPReq : \ninstance créée dans script de template\nenvoie le innerText de target (ds onclick) à /toto : url_Actuelle/toto en post\nhttp in ecoute sur /toto -> renvoie un msg avec un body (ce qui est envoyé)\n\nl'http response repond à l'envoyeur que c'est ok. peut aussi modifier le body, renvoyer w/e","x":220,"y":200,"wires":[]},{"id":"37dd7a8e.64d8d6","type":"function","z":"b85d4948.180ae8","name":"nePasFloodBD","func":"if (msg !== null && msg.payload!==null){\n    return msg\n}","outputs":1,"noerr":0,"x":880,"y":420,"wires":[["da85ef1a.8bf1b"]]},{"id":"c5a925a6.15d168","type":"http in","z":"6787998c.a4cde8","name":"maMap","url":"/map","method":"get","upload":false,"swaggerDoc":"","x":130,"y":200,"wires":[["d425facf.3c1678"]]},{"id":"b83082c1.154","type":"http response","z":"6787998c.a4cde8","name":"","statusCode":"200","headers":{},"x":480,"y":200,"wires":[]},{"id":"d425facf.3c1678","type":"function","z":"6787998c.a4cde8","name":"buildResponsePage","func":"msg.payload=\n\"<head>\\\n<title>Carte Reddit Scrapping</title>\\\n<script src='https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js'>\\\n</script>\\\n</head>\\\n<link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css' type='text/css'>\\\n<body>\\\n<div id='mapContainer' style='display:flex;height:100%;width:100%'>\\\n    <div id='map' style='flex:0 0 70%'></div>\\\n    <div id='droiteCarte' style='flex:1;margin:10px'>Chaque point représente un post Reddit pour lequel une localisation a été trouvée. Cliquez sur un point pour en savoir plus !</div>\\\n</div>\\\n<script>\\\nmaReq=new XMLHttpRequest();\\\nstar= new ol.style.Style({\\\n    image: new ol.style.RegularShape({\\\n      points: 5,\\\n      radius: 7,\\\n      radius2: 3,\\\n      angle: 0,\\\n      stroke: new ol.style.Stroke({ width: 1, color: [255,0,0,1]   }),\\\n      fill: new ol.style.Fill({ color: [0,255,0,0.2] })\\\n    })});\\\n    var OSMlayer=new ol.layer.Tile({source:new ol.source.OSM()});\\\nvectors_source=new ol.source.Vector();\\\nvector_layer=new ol.layer.Vector({source:vectors_source});\\\nvar map = new ol.Map({\\\n    target:'map',\\\n    layers:[OSMlayer,vector_layer],\\\n    view:new ol.View({ center: ol.proj.fromLonLat([40,40]),zoom: 1, extent: [-20000000,-20000000,20000000,20000000] })\\\n});\\\ntransferComplete=function(e){listPos=JSON.parse(e.target.response); for (let unPoint of listPos){\\\n        let p= new ol.geom.Point(ol.proj.fromLonLat([unPoint.resGeo.geonames[0].lng,unPoint.resGeo.geonames[0].lat]));\\\n        let feat=new ol.Feature({geometry:p});\\\n        feat.setStyle(star);\\\n        feat.setId(unPoint._id);\\\n        vectors_source.addFeature(feat)\\\n        };};\\\nmaReq.addEventListener('load', transferComplete);\\\nmaReq.open('GET','/mapData');\\\nmaReq.send();\\\nmap.on('click',function(evt){ let closestFeat= vectors_source.getClosestFeatureToCoordinate(map.getEventCoordinate(evt.originalEvent)); \\\n    for(let monPoint of listPos){\\\n        if (monPoint._id==closestFeat.getId()){\\\n            let droite = document.getElementById('droiteCarte');\\\n            droite.innerText='Original title : '+ monPoint.title+'\\\\n';\\\n            img=document.createElement('img');\\\n            img.setAttribute('src',monPoint.preview[2].url);\\\n            img.setAttribute('style','margin-left:auto;margin-right:auto;display:block');\\\n            droite.appendChild(img);\\\n            let lien=document.createElement('a');\\\n            lien.setAttribute('href','https://www.reddit.com'+monPoint.permalink);\\\n            lien.innerText='\\\\n'+'link to original post';\\\n            droite.appendChild(lien);\\\n        }\\\n    }\\\n    })\\\n</script>\\\n</body>\\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":200,"wires":[["b83082c1.154"]]},{"id":"e60c950f.2f2178","type":"mongodb in","z":"6787998c.a4cde8","mongodb":"6fb5ed0.bf80814","name":"","collection":"redditPosts","operation":"find","x":510,"y":100,"wires":[["f8149329.457f3"]]},{"id":"695e9c52.e23604","type":"function","z":"6787998c.a4cde8","name":"Recherche DB","func":"msg.payload={bool:true}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":100,"wires":[["e60c950f.2f2178"]]},{"id":"922e646a.314e28","type":"http in","z":"6787998c.a4cde8","name":"","url":"/mapData","method":"get","upload":false,"swaggerDoc":"","x":100,"y":100,"wires":[["695e9c52.e23604"]]},{"id":"f8149329.457f3","type":"http response","z":"6787998c.a4cde8","name":"","statusCode":"200","headers":{},"x":720,"y":100,"wires":[]},{"id":"f417b4b2.443ee8","type":"inject","z":"b85d4948.180ae8","name":"","topic":"CLEAR","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":380,"y":500,"wires":[["51f4cf16.a4715"]]},{"id":"d988ea24.917168","type":"inject","z":"3c69d2.2c30562e","name":"eibsee","topic":"","payload":"{\"kind\":\"t3\",\"data\":{\"approved_at_utc\":null,\"subreddit\":\"EarthPorn\",\"selftext\":\"\",\"author_fullname\":\"t2_394qqqxf\",\"saved\":false,\"mod_reason_title\":null,\"gilded\":0,\"clicked\":false,\"title\":\"OC Another great view of Eibsee Lake in Bavaria Germany (1079x1449)\",\"link_flair_richtext\":[],\"subreddit_name_prefixed\":\"r/EarthPorn\",\"hidden\":false,\"pwls\":6,\"link_flair_css_class\":null,\"downs\":0,\"thumbnail_height\":140,\"hide_score\":false,\"name\":\"t3_fs4lry\",\"quarantine\":false,\"link_flair_text_color\":\"dark\",\"author_flair_background_color\":\"\",\"subreddit_type\":\"public\",\"ups\":148,\"total_awards_received\":0,\"media_embed\":{\"content\":\"&lt;iframe class=\\\"embedly-embed\\\" src=\\\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fimgur.com%2Ft1mqyPo%2Fembed%3Fpub%3Dtrue%26ref%3Dhttps%253A%252F%252Fembed.ly%26w%3D900&amp;display_name=Imgur&amp;url=https%3A%2F%2Fimgur.com%2Ft1mqyPo&amp;image=https%3A%2F%2Fi.imgur.com%2Ft1mqyPo.jpg%3Ffb&amp;key=ed8fa8699ce04833838e66ce79ba05f1&amp;type=text%2Fhtml&amp;schema=imgur\\\" width=\\\"600\\\" height=\\\"935\\\" scrolling=\\\"no\\\" title=\\\"Imgur embed\\\" frameborder=\\\"0\\\" allow=\\\"autoplay; fullscreen\\\" allowfullscreen=\\\"true\\\"&gt;&lt;/iframe&gt;\",\"width\":600,\"scrolling\":false,\"height\":935},\"thumbnail_width\":140,\"author_flair_template_id\":null,\"is_original_content\":false,\"user_reports\":[],\"secure_media\":{\"oembed\":{\"provider_url\":\"http://imgur.com\",\"description\":\"Post with 0 votes and 0 views.\",\"title\":\"Imgur\",\"url\":\"https://imgur.com/t1mqyPo\",\"thumbnail_width\":600,\"height\":935,\"width\":600,\"html\":\"&lt;iframe class=\\\"embedly-embed\\\" src=\\\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fimgur.com%2Ft1mqyPo%2Fembed%3Fpub%3Dtrue%26ref%3Dhttps%253A%252F%252Fembed.ly%26w%3D900&amp;display_name=Imgur&amp;url=https%3A%2F%2Fimgur.com%2Ft1mqyPo&amp;image=https%3A%2F%2Fi.imgur.com%2Ft1mqyPo.jpg%3Ffb&amp;key=ed8fa8699ce04833838e66ce79ba05f1&amp;type=text%2Fhtml&amp;schema=imgur\\\" width=\\\"600\\\" height=\\\"935\\\" scrolling=\\\"no\\\" title=\\\"Imgur embed\\\" frameborder=\\\"0\\\" allow=\\\"autoplay; fullscreen\\\" allowfullscreen=\\\"true\\\"&gt;&lt;/iframe&gt;\",\"version\":\"1.0\",\"provider_name\":\"Imgur\",\"thumbnail_url\":\"https://i.imgur.com/t1mqyPo.jpg?fb\",\"type\":\"rich\",\" thumbnail_height\":315},\"type\":\"imgur.com\"},\"is_reddit_media_domain\":false,\"is_meta\":false,\"category\":null,\"secure_media_embed\":{\"content\":\"&lt;iframe class=\\\"embedly-embed\\\" src=\\\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fimgur.com%2Ft1mqyPo%2Fembed%3Fpub%3Dtrue%26ref%3Dhttps%253A%252F%252Fembed.ly%26w%3D900&amp;display_name=Imgur&amp;url=https%3A%2F%2Fimgur.com%2Ft1mqyPo&amp;image=https%3A%2F%2Fi.imgur.com%2Ft1mqyPo.jpg%3Ffb&amp;key=ed8fa8699ce04833838e66ce79ba05f1&amp;type=text%2Fhtml&amp;schema=imgur\\\" width=\\\"600\\\" height=\\\"935\\\" scrolling=\\\"no\\\" title=\\\"Imgur embed\\\" frameborder=\\\"0\\\" allow=\\\"autoplay; fullscreen\\\" allowfullscreen=\\\"true\\\"&gt;&lt;/iframe&gt;\",\"width\":600,\"scrolling\":false,\"media_domain_url\":\"https://www.redditmedia.com/mediaembed/fs4lry\",\"height\":935},\"link_flair_text\":null,\"can_mod_post\":false,\"score\":148,\"approved_by\":null,\"author_premium\":false,\"thumbnail\":\"https://a.thumbs.redditmedia.com/oDmDyQ_xT0An-19WDj8teUelZWTt01g5kO2haW4TUK4.jpg\",\"edited\":false,\"author_flair_css_class\":\"Camera\",\"author_flair_richtext\":[],\"gildings\":{},\"post_hint\":\"link\",\"content_categories\":null,\"is_self\":false,\"mod_note\":null,\"created\":1585650288,\"link_flair_type\":\"text\",\"wls\":6,\"removed_by_category\":null,\"banned_by\":null,\"author_flair_type\":\"text\",\"domain\":\"imgur.com\",\"allow_live_comments\":false,\"selftext_html\":null,\"likes\":null,\"suggested_sort\":null,\"banned_at_utc\":null,\"view_count\":null,\"archived\":false,\"no_follow\":false,\"is_crosspostable\":true,\"pinned\":false,\"over_18\":false,\"preview\":{\"images\":[{\"source\":{\"url\":\"https://external-preview.redd.it/HjyCzNEDPSFBBbQA0f1pWg3eovSiIpmWDIkQ2SNnxU4.jpg?auto=webp&amp;s=c50005151cd5e4f3fdfe22ad957a1968cf7c6269\",\"width\":1079,\"height\":1449},\"resolutions\":[{\"url\":\"https://external-preview.redd.it/HjyCzNEDPSFBBbQA0f1pWg3eovSiIpmWDIkQ2SNnxU4.jpg?width=108&amp;crop=smart&amp;auto=webp&amp;s=15fb60e4d5b951ce99f5c9f7f3060b5fc3835871\",\"width\":108,\"height\":145},{\"url\":\"https://external-preview.redd.it/HjyCzNEDPSFBBbQA0f1pWg3eovSiIpmWDIkQ2SNnxU4.jpg?width=216&amp;crop=smart&amp;auto=webp&amp;s=2519cc95eb372c5691b398b1420f5526e8c8749f\",\"width\":216,\"height\":290},{\"url\":\"https://external-preview.redd.it/HjyCzNEDPSFBBbQA0f1pWg3eovSiIpmWDIkQ2SNnxU4.jpg?width=320&amp;crop=smart&amp;auto=webp&amp;s=1616a69bcd96a84a739726c48609b4adf7de01e7\",\"width\":320,\"height\":429},{\"url\":\"https://external-preview.redd.it/HjyCzNEDPSFBBbQA0f1pWg3eovSiIpmWDIkQ2SNnxU4.jpg?width=640&amp;crop=smart&amp;auto=webp&amp;s=ff4868a9aab27a50e588d6954dee98a1453345c2\",\"width\":640,\"height\":859},{\"url\":\"https://external-preview.redd.it/HjyCzNEDPSFBBbQA0f1pWg3eovSiIpmWDIkQ2SNnxU4.jpg?width=960&amp;crop=smart&amp;auto=webp&amp;s=673f6bc10d70f0feb87c1bf736f05039d43313fe\",\"width\":960,\"height\":1289}],\"variants\":{},\"id\":\"OUYHpzPaSAulQG_sPh5Jw-iLcVTlarDJWXDx532oC08\"}],\"enabled\":false},\"all_awardings\":[],\"awarders\":[],\"media_only\":false,\"can_gild\":true,\"spoiler\":false,\"locked\":false,\"author_flair_text\":\"\",\"visited\":false,\"removed_by\":null,\"num_reports\":null,\"distinguished\":null,\"subreddit_id\":\"t5_2sbq3\",\"mod_reason_by\":null,\"removal_reason\":null,\"link_flair_background_color\":\"\",\"id\":\"fs4lry\",\"is_robot_indexable\":true,\"report_reasons\":null,\"author\":\"jeffb269\",\"discussion_type\":null,\"num_comments\":1,\"send_replies\":true,\"whitelist_status\":\"all_ads\",\"contest_mode\":false,\"mod_reports\":[],\"author_patreon_flair\":false,\"author_flair_text_color\":\"dark\",\"permalink\":\"/r/EarthPorn/comments/fs4lry/oc_another_great_view_of_eibsee_lake_in_bavaria/\",\"parent_whitelist_status\":\"all_ads\",\"stickied\":false,\"url\":\"https://imgur.com/t1mqyPo\",\"subreddit_subscribers\":19526666,\"created_utc\":1585621488,\"num_crossposts\":0,\"media\":{\"oembed\":{\"provider_url\":\"http://imgur.com\",\"description\":\"Post with 0 votes and 0 views.\",\"title\":\"Imgur\",\"url\":\"https://imgur.com/t1mqyPo\",\"thumbnail_width\":600,\"height\":935,\"width\":600,\"html\":\"&lt; iframe class=\\\"embedly-embed\\\" src=\\\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fimgur.com%2Ft1mqyPo%2Fembed%3Fpub%3Dtrue%26ref%3Dhttps%253A%252F%252Fembed.ly%26w%3D900&amp;display_name=Imgur&amp;url=https%3A%2F%2Fimgur.com%2Ft1mqyPo&amp;image=https%3A%2F%2Fi.imgur.com%2Ft1mqyPo.jpg%3Ffb&amp;key=ed8fa8699ce04833838e66ce79ba05f1&amp;type=text%2Fhtml&amp;schema=imgur\\\" width=\\\"600\\\" height=\\\"935\\\" scrolling=\\\"no\\\" title=\\\"Imgur embed\\\" frameborder=\\\"0\\\" allow=\\\"autoplay; fullscreen\\\" allowfullscreen=\\\"true\\\"&gt;&lt;/iframe&gt;\",\"version\":\"1.0\",\"provider_name\":\"Imgur\",\"thumbnail_url\":\"https://i.imgur.com/t1mqyPo.jpg?fb\",\"type\":\"rich\",\"thumbnail_height\":315},\"type\":\"imgur.com\"},\"is_video\":false}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1230,"y":120,"wires":[["cbef4e33.06326"]]},{"id":"5fa19982.121d28","type":"inject","z":"3c69d2.2c30562e","name":"sierra","topic":"","payload":"{\"kind\":\"t3\",\"data\":{\"approved_at_utc\":null,\"subreddit\":\"EarthPorn\",\"selftext\":\"\",\"author_fullname\":\"t2_zsagm\",\"saved\":false,\"mod_reason_title\":null,\"gilded\":0,\"clicked\":false,\"title\":\"Sunset over the Eastern Sierras from an alpine meadow at 10,000' elevation [4132x2752] [OC]\",\"link_flair_richtext\":[],\"subreddit_name_prefixed\":\"r/EarthPorn\",\"hidden\":false,\"pwls\":6,\"link_flair_css_class\":null,\"downs\":0,\"thumbnail_height\":93,\"hide_score\":false,\"name\":\"t3_fs46gh\",\"quarantine\":false,\"link_flair_text_color\":\"dark\",\"author_flair_background_color\":\"\",\"subreddit_type\":\"public\",\"ups\":138,\"total_awards_received\":0,\"media_embed\":{},\"thumbnail_width\":140,\"author_flair_template_id\":null,\"is_original_content\":false,\"user_reports\":[],\"secure_media\":null,\"is_reddit_media_domain\":true,\"is_meta\":false,\"category\":null,\"secure_media_embed\":{},\"link_flair_text\":null,\"can_mod_post\":false,\"score\":138,\"approved_by\":null,\"author_premium\":false,\"thumbnail\":\"https://b.thumbs.redditmedia.com/0wY0caONEHWXTfrFrtK1VTBFXiAyno3n9CAkb3Z8DVg.jpg\",\"edited\":false,\"author_flair_css_class\":\"Camera\",\"author_flair_richtext\":[],\"gildings\":{},\"post_hint\":\"image\",\"content_categories\":null,\"is_self\":false,\"mod_note\":null,\"created\":1585648675,\"link_flair_type\":\"text\",\"wls\":6,\"removed_by_category\":null,\"banned_by\":null,\"author_flair_type\":\"text\",\"domain\":\"i.redd.it\",\"allow_live_comments\":false,\"selftext_html\":null,\"likes\":null,\"suggested_sort\":null,\"banned_at_utc\":null,\"view_count\":null,\"archived\":false,\"no_follow\":false,\"is_crosspostable\":true,\"pinned\":false,\"over_18\":false,\"preview\":{\"images\":[{\"source\":{\"url\":\"https://preview.redd.it/ddah3f070xp41.jpg?auto=webp&amp;s=34321f687f7cb21183689625b5b2606c16e600ab\",\"width\":4132,\"height\":2752},\"resolutions\":[{\"url\":\"https://preview.redd.it/ddah3f070xp41.jpg?width=108&amp;crop=smart&amp;auto=webp&amp;s=880353e4d70a39ef13097e4c8ec620f2ce68732a\",\"width\":108,\"height\":71},{\"url\":\"https://preview.redd.it/ddah3f070xp41.jpg?width=216&amp;crop=smart&amp;auto=webp&amp;s=ab14a77bc03f4a8283aa6a11e3c834da73d0363a\",\"width\":216,\"height\":143},{\"url\":\"https://preview.redd.it/ddah3f070xp41.jpg?width=320&amp;crop=smart&amp;auto=webp&amp;s=1f795eb59d65ec143ceff476b6d583127d6babb7\",\"width\":320,\"height\":213},{\"url\":\"https://preview.redd.it/ddah3f070xp41.jpg?width=640&amp;crop=smart&amp;auto=webp&amp;s=a3550a7be90e33e739c2b3632907466612b54f70\",\"width\":640,\"height\":426},{\"url\":\"https://preview.redd.it/ddah3f070xp41.jpg?width=960&amp;crop=smart&amp;auto=webp&amp;s=ce65e83c3ebd27b8e65fe452b7b87eb3dd71bfe1\",\"width\":960,\"height\":639},{\"url\":\"https://preview.redd.it/ddah3f070xp41.jpg?width=1080&amp;crop=smart&amp;auto=webp&amp;s=14217e51fb46a677b04c9718aeb3b8edaabe3613\",\"width\":1080,\"height\":719}],\"variants\":{},\"id\":\"xEujax6FLr8h6UFFOT9inbeJmVwHrmguNbn5glSQ3a0\"}],\"enabled\":true},\"all_awardings\":[],\"awarders\":[],\"media_only\":false,\"can_gild\":true,\"spoiler\":false,\"locked\":false,\"author_flair_text\":\"\",\"visited\":false,\"removed_by\":null,\"num_reports\":null,\"distinguished\":null,\"subreddit_id\":\"t5_2sbq3\",\"mod_reason_by\":null,\"removal_reason\":null,\"link_flair_background_color\":\"\",\"id\":\"fs46gh\",\"is_robot_indexable\":true,\"report_reasons\":null,\"author\":\"HTPRockets\",\"discussion_type\":null,\"num_comments\":2,\"send_replies\":true,\"whitelist_status\":\"all_ads\",\"contest_mode\":false,\"mod_reports\":[],\"author_patreon_flair\":false,\"author_flair_text_color\":\"dark\",\"permalink\":\"/r/EarthPorn/comments/fs46gh/sunset_over_the_eastern_sierras_from_an_alpine/\",\"parent_whitelist_status\":\"all_ads\",\"stickied\":false,\"url\":\"https://i.redd.it/ddah3f070xp41.jpg\",\"subreddit_subscribers\":19526666,\"created_utc\":1585619875,\"num_crossposts\":0,\"media\":null,\"is_video\":false}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1230,"y":80,"wires":[["cbef4e33.06326"]]},{"id":"6b2657fc.203328","type":"inject","z":"3c69d2.2c30562e","name":"longTitle","topic":"","payload":"{\"kind\":\"t3\",\"data\":{\"approved_at_utc\":null,\"subreddit\":\"EarthPorn\",\"selftext\":\"\",\"author_fullname\":\"t2_a792h\",\"saved\":false,\"mod_reason_title\":null,\"gilded\":0,\"clicked\":false,\"title\":\"Going through old photos so I can remember how beautiful the Earth is. Pan de Azucar National Park, Chile, where the Atacama Desert meets the Pacific Ocean. 4000 × 2660 [OC]\",\"link_flair_richtext\":[],\"subreddit_name_prefixed\":\"r/EarthPorn\",\"hidden\":false,\"pwls\":6,\"link_flair_css_class\":null,\"downs\":0,\"thumbnail_height\":93,\"hide_score\":false,\"name\":\"t3_frug2q\",\"quarantine\":false,\"link_flair_text_color\":\"dark\",\"author_flair_background_color\":\"\",\"subreddit_type\":\"public\",\"ups\":261,\"total_awards_received\":0,\"media_embed\":{},\"thumbnail_width\":140,\"author_flair_template_id\":null,\"is_original_content\":false,\"user_reports\":[],\"secure_media\":null,\"is_reddit_media_domain\":true,\"is_meta\":false,\"category\":null,\"secure_media_embed\":{},\"link_flair_text\":null,\"can_mod_post\":false,\"score\":261,\"approved_by\":null,\"author_premium\":false,\"thumbnail\":\"https://b.thumbs.redditmedia.com/eGhssblhBz8Ora7yU7IIU3qzZDmKRR9X7G70MjE9sbo.jpg\",\"edited\":false,\"author_flair_css_class\":\"Bronze\",\"author_flair_richtext\":[],\"gildings\":{},\"post_hint\":\"image\",\"content_categories\":null,\"is_self\":false,\"mod_note\":null,\"created\":1585616049,\"link_flair_type\":\"text\",\"wls\":6,\"removed_by_category\":null,\"banned_by\":null,\"author_flair_type\":\"text\",\"domain\":\"i.redd.it\",\"allow_live_comments\":false,\"selftext_html\":null,\"likes\":null,\"suggested_sort\":null,\"banned_at_utc\":null,\"view_count\":null,\"archived\":false,\"no_follow\":false,\"is_crosspostable\":true,\"pinned\":false,\"over_18\":false,\"preview\":{\"images\":[{\"source\":{\"url\":\"https://preview.redd.it/w8q1lzgebup41.jpg?auto=webp&amp;s=db26b627de515194ec779559d917c25825a46ee9\",\"width\":2400,\"height\":1596},\"resolutions\":[{\"url\":\"https://preview.redd.it/w8q1lzgebup41.jpg?width=108&amp;crop=smart&amp;auto=webp&amp;s=f7761ff7ebfd9a377cb6a349201edab8ae7192b7\",\"width\":108,\"height\":71},{\"url\":\"https://preview.redd.it/w8q1lzgebup41.jpg?width=216&amp;crop=smart&amp;auto=webp&amp;s=9182732f4632816af10b788b7cb55271d092adc0\",\"width\":216,\"height\":143},{\"url\":\"https://preview.redd.it/w8q1lzgebup41.jpg?width=320&amp;crop=smart&amp;auto=webp&amp;s=b3ba1aeab941e0dec06b87a03052b943aca2849c\",\"width\":320,\"height\":212},{\"url\":\"https://preview.redd.it/w8q1lzgebup41.jpg?width=640&amp;crop=smart&amp;auto=webp&amp;s=5a75b44217c0c50911b84dd967734635e6813c11\",\"width\":640,\"height\":425},{\"url\":\"https://preview.redd.it/w8q1lzgebup41.jpg?width=960&amp;crop=smart&amp;auto=webp&amp;s=4e891fa62cc3f5668f9826387fe913960278d682\",\"width\":960,\"height\":638},{\"url\":\"https://preview.redd.it/w8q1lzgebup41.jpg?width=1080&amp;crop=smart&amp;auto=webp&amp;s=c02bba8edf92f067237a183df48f53821cfda55a\",\"width\":1080,\"height\":718}],\"variants\":{},\"id\":\"zQJRL1QCJT7Xh2Qkh2TMy77-rnLqctRqwjV0Aa40EYM\"}],\"enabled\":true},\"all_awardings\":[],\"awarders\":[],\"media_only\":false,\"can_gild\":true,\"spoiler\":false,\"locked\":false,\"author_flair_text\":null,\"visited\":false,\"removed_by\":null,\"num_reports\":null,\"distinguished\":null,\"subreddit_id\":\"t5_2sbq3\",\"mod_reason_by\":null,\"removal_reason\":null,\"link_flair_background_color\":\"\",\"id\":\"frug2q\",\"is_robot_indexable\":true,\"report_reasons\":null,\"author\":\"mhanrahan\",\"discussion_type\":null,\"num_comments\":7,\"send_replies\":true,\"whitelist_status\":\"all_ads\",\"contest_mode\":false,\"mod_reports\":[],\"author_patreon_flair\":false,\"author_flair_text_color\":\"dark\",\"permalink\":\"/r/EarthPorn/comments/frug2q/going_through_old_photos_so_i_can_remember_how/\",\"parent_whitelist_status\":\"all_ads\",\"stickied\":false,\"url\":\"https://i.redd.it/w8q1lzgebup41.jpg\",\"subreddit_subscribers\":19526666,\"created_utc\":1585587249,\"num_crossposts\":0,\"media\":null,\"is_video\":false}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1220,"y":160,"wires":[["cbef4e33.06326"]]}]